/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bold-blue {
    font-weight: bold;
    color: blue;
    text-decoration: underline
}

h1.centered {
    text-align: center
}

h1.fancy {
    color: darkgreen;
    text-decoration: underline
}

div#welcome {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
    width: 40%;
    padding: 10px
}

p#description {
    text-align: center;
    font-size: 14pt;
    color: green
}

.code {
    font-family: courier, monospace;
    color: darkgreen
}

#homework-instructions {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    background-color: lightgray;
    border: 2px solid darkblue
}

#header {
    background-color: dodgerblue;
    padding: 20px;
    font-size: 16pt
}

#header a {
    color: white
}

#header a:hover {
    color: yellow;
    background-color: dodgerblue
}

body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px
}

a {
    color: #000
}

a:visited {
    color: #666
}

a:hover {
    color: #fff;
    background-color: #000
}

div.field, div.actions {
    margin-bottom: 10px
}

#notice {
    color: green
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square
}

table {
    margin: 0px;
    padding: 0px;
    width: 50%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    border-collapse: collapse;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px
}

td, th {
    border: 1px solid black
}